img {
    width:120px;
    height:120px;
    float:left;
    border:2px solid black;
}

.head {
    padding-top: 30px;
    margin-left:10px;
}

.cabecera {
    background-image: url("../../assets/fondo.jpg");
    border: 2px solid black;
    height:120px;
    margin-bottom: 35px;
}

.nombre {
    float:left;
    padding-left: 30px;
}

h3 {
    font-size: 1.2em;
    margin-top: -10px;
}

