img {
    width:120px;
    height:120px;
    float:left;
    border:2px solid black;
}

.head {
    padding-top: 30px;
    margin-left:10px;
}

.cabecera {
    background-color: rgba(58, 144, 184, 0.4);
    height:120px;
    margin-bottom: 50px;
}

.nombre {
    float:left;
    padding-left: 30px;
}

h3 {
    font-size: 1.2em;
    margin-top: -10px;
}
