.mishistorietas {
    float:left;
    width:59%;
}

.mispublicaciones {
    border: 2px solid black;
    margin-top: 2px;
    height:320px;
    
}

.miscoleguillas {
    float:left;
    width:40%;    
}

.misamigos {
    border: 2px solid black;
    height:320px;
    margin-top: 2px;
}

p {
    padding-left: 5px;

}

.misdatos {
    border: 1px solid black;
    height: 80px;
    margin-bottom: 15px;
}

.profile {
}