<div class="nav">
    
  <img src="../../../assets/logo.png">
  <ul>
    <div class="menu">
      
      <li>
          <a routerLink="/historietas" routerLinkActive="active"><button> Mis Historietas</button></a>
      </li>
      <li>
          <a routerLink="/profile" routerLinkActive="active"> <button>Mis cosas</button></a>
      </li>
      <li>
          <a routerLink="/friends" routerLinkActive="active"> <button>Mis colegas</button></a>
      </li>
      <li>
          <a routerLink="/events" routerLinkActive="active"> <button>Eventos</button></a></li>
    </div>
  </ul>
</div>
