img {
    width: 40px;
    height:35px;
}

.nav {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 8px;
}

li {
    display: inline;
    border: 2px solid black;
    padding-bottom: 1px;
    padding-left: 18px;
    padding-right:20px;
}
.menu {
    margin-left: -20px;
    border: 1px solid black;
    box-shadow: 3px 3px #000000;
    
}

.selected {
    background-color: #B9B9B9;
}

li:hover {
    background-color: #B9B9B9;
}