<div class="nav">
    
  <img src="../../../assets/logo.png">
  <ul>
    <div class="menu">
      
      <li>
          <a routerLink="/historietas" routerLinkActive="active"> Mis Historietas</a>
      </li>
      <li>
          <a routerLink="/profile" routerLinkActive="active"> Mis cosas</a>
      </li>
      <li>
          <a routerLink="/friends" routerLinkActive="active"> Mis colegas</a>
      </li>
      <li>
          <a routerLink="/events" routerLinkActive="active"> Eventos</a></li>
    </div>
  </ul>
</div>
